@font-face {
  font-family: 'Abel';
  src: url('../fonts/Abel/Abel-Regular.ttf');
}
@font-face {
  font-family: 'Shadow';
  src: url('../fonts/Shadows_Into_Light/ShadowsIntoLight.ttf');
}
@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata/Inconsolata-Regular.ttf');
}
/*basic style*/
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: #325050;
  background-color: rgba(138,188,159,0.5);
  font-family: 'Abel';
  font-size: 90%;
}
header{
  height:15%;
  padding: 20px 0 70px 0;
  background-image: url('../images/GpBudO4l.jpg');
  background-attachment: fixed, fixed, fixed, scroll;
  background-position: 0 0, 0 0, -5px -25px, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  text-align: center;
}
h1, h2 {
  padding: 0 20%;
  margin: 0;
  color: #fff;
  font-weight: normal;
}
h1{
  padding-top: 75px;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Abel';
  font-size:  3.2em;
  text-transform: uppercase;
}
h2{
  display: block;
  font-family: 'Shadow';
  font-size: 1.6em;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 30px;
  border-top: none;
}
h3 {
  margin: 2em 0 0 0;
  color: #2e484c;
  font-family: 'Inconsolata';
  font-size: 1.8em;
  font-weight: normal;
  text-transform: uppercase;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* menu viewrooms style*/
.viewall a {
  display: block;
  margin-bottom: 0.25em;
  font-family: 'Abel';
  font-size: 1.7em;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

/* menu home, rooms, login */
.design-archives {
  position: fixed;;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.5);
}
.design-archives h3 {
  display: none;
}
.design-archives ul {
  margin: 0;
}
.design-archives li {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
.design-archives li.viewall {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  line-height: 50px;
}
.previous, .next {
  left: 0;
  z-index: 3;
}
.next {
  left: auto;
  right: 30px;
}
.design-archives a, .design-archives a:visited {
  color: rgba(255, 255, 255, 0.65);
}
.design-archives a:hover, .design-archives a:focus {
  color: #fff;
}
.design-archives .previous a, .design-archives .next a {
  display: inline-block;
  overflow: hidden;
  width: 70px;
  height: 70px;
  text-indent: 100%;
  text-decoration: none;
  white-space: nowrap;
}
.design-archives .viewall a {
  z-index: 2;
  width: 100%;
  min-height: 70px;
  padding: 12px 0 0 0;
  text-align: center;
}
.design-archives a::before {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  text-align: center;
  text-indent: 0;
  font-size: 44px;

  /* defaults */
  font-family: 'Abel';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 70px;
  -webkit-font-smoothing: antialiased;
}
.design-archives .viewall a:hover, .design-archives .viewall a:focus, .design-archives .viewall a:active,
.design-archives a:hover::before, .design-archives a:focus::before, .design-archives a:active::before {
  background-color: rgba(255,255,255,0.25);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
}
.design-archives .previous a::before {
  content: "Home";
  width: 100px;
  font-size: 1.7em;
}
.design-archives .next a::before {
  content: "Login";
  width: 100px;
  font-size: 1.7em;
}


a {
  color: #0d8ba1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
}
  a:visited {
    color: #1a5952;
  }
  a:hover, a:focus {
    color: #0599c2;
    text-decoration: underline;
  }

  .intro a, .intro a:visited {
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 32px;
  margin: -1px -10px -1px -6px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;

  color: #809b7e;
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
}
.intro a:hover, .intro a:focus {
  z-index: 2;
  color: #fff;
  background: #3d8a9f;
  text-decoration: none;
}

.intro a::before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 8px;
  padding: 2px;
  color: #a9b995;
  background: #d9e1cd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;

  content: "SJ";
  font-size: 15px;
  text-indent: 0;


  /* icomoon.io defaults */
  font-family: 'verdemoderna';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
  .intro a:hover::before {
    color: #fff;
    background: #357d93;
  }
