@font-face {
  font-family: 'Abel';
  src: url('../fonts/Abel/Abel-Regular.ttf');
}
@font-face {
  font-family: 'Shadow';
  src: url('../fonts/Shadows_Into_Light/ShadowsIntoLight.ttf');
}
@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata/Inconsolata-Regular.ttf');
}
/*basic style*/
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: #325050;
  background-color: rgba(138,188,159,0.5);
  font-family: 'Abel';
  font-size: 90%;
}
header{
  height:15%;
  padding: 20px 0 70px 0;
  background-image: url('../images/GpBudO4l.jpg');
  background-attachment: fixed, fixed, fixed, scroll;
  background-position: 0 0, 0 0, -5px -25px, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  text-align: center;
}
h1, h2 {
  padding: 0 20%;
  margin: 0;
  color: #fff;
  font-weight: normal;
}
h1{
  padding-top: 75px;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Abel';
  font-size:  3.2em;
  text-transform: uppercase;
}
h2{
  display: block;
  font-family: 'Shadow';
  font-size: 1.6em;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 30px;
  border-top: none;
}
h3 {
  margin: 2em 0 0 0;
  color: #2e484c;
  font-family: 'Inconsolata';
  font-size: 1.8em;
  font-weight: normal;
  text-transform: uppercase;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* menu viewrooms style*/
.viewall a {
  display: block;
  margin-bottom: 0.25em;
  font-family: 'Abel';
  font-size: 1.7em;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

/* menu home, rooms, login */
.design-archives {
  position: fixed;;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.5);
}
.design-archives h3 {
  display: none;
}
.design-archives ul {
  margin: 0;
}
.design-archives li {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
.design-archives li.viewall {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  line-height: 50px;
}
.previous, .next {
  left: 0;
  z-index: 3;
}
.next {
  left: auto;
  right: 30px;
}
.design-archives a, .design-archives a:visited {
  color: rgba(255, 255, 255, 0.65);
}
.design-archives a:hover, .design-archives a:focus {
  color: #fff;
}
.design-archives .previous a, .design-archives .next a {
  display: inline-block;
  overflow: hidden;
  width: 70px;
  height: 70px;
  text-indent: 100%;
  text-decoration: none;
  white-space: nowrap;
}
.design-archives .viewall a {
  z-index: 2;
  width: 100%;
  min-height: 70px;
  padding: 12px 0 0 0;
  text-align: center;
}
.design-archives a::before {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  text-align: center;
  text-indent: 0;
  font-size: 44px;

  /* defaults */
  font-family: 'Abel';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 70px;
  -webkit-font-smoothing: antialiased;
}
.design-archives .viewall a:hover, .design-archives .viewall a:focus, .design-archives .viewall a:active,
.design-archives a:hover::before, .design-archives a:focus::before, .design-archives a:active::before {
  background-color: rgba(255,255,255,0.25);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
}
.design-archives .previous a::before {
  content: "Home";
  width: 100px;
  font-size: 1.7em;
}
.design-archives .next a::before {
  content: "Login";
  width: 100px;
  font-size: 1.7em;
}
.login-message{
  color: #fff;
  text-align: center;
  top: 0;
  width: 40%;
  margin: 50px 30% 0 30%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 180%;
  font-weight: bold;
  font-family: 'Abel';
  -webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
  border-style: solid 1px;
  border-bottom: none;
}
.login-form{
  background: rgba(255, 255, 255, 0.5);
  width: 40%;
  height: 50%;
  margin: 0 30% 50px 30%;
  border: solid 1px;
  -webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
  padding: 20px 10% 20px 10%;
  border-top: none;
}

.form-usr, .form-pwd, .login-btn, .session{
  width: 100%;
  -webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}
.form-usr:hover, .form-pwd:hover, .login-btn:hover, .session:hover , .form-usr:active, .form-wd:active, .login-btn:active{
  background: rgba(138,188,159,0.5);
}
.label-user, .label-password{
  width: 150px;
  font-family: 'Abel';
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
  font-weight: bold;
  padding: 0 10px 0 10px;
  font-size: 120%;
  color: #fff;
}
